<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simi's Dungeon</title>
    <link rel="icon" href="./images/logo1.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="./images/logo1.jpg" type="image/x-icon" />


    <meta name="description" content="Simi's Dungeon, The place where your dreams take life">
    <meta name="keywords" content="Simi, Simi's Dungeon, simisdungeon, simi, dungeon">
    <meta name="author" content="aosxap@gmail.com">
    <meta name="google-site-verification" content="gG-m83i5bYffcbrqYCLRngVlyXhJHsYsNuAfBU48yLE" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">

    <!-- FONTAWSOME -->
    <script src="https://kit.fontawesome.com/7a34b12c15.js" crossorigin="anonymous"></script>

<body>
        <nav style="background-color: blueviolet;" class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="#">Simi's Dungeon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all">Posts</a>
                    </li>
                    <li class="nav-item dropdown">
                    <li class="nav-item">
                        <a class="nav-link" href="https://simichat.netlify.app/">Chat</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!---modal -->
        <div id="my-id" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 style="font-size:17px;" class="uk-modal-title">Go out there and check our great articles or download our stories!</h2>
                <button style="border-radius: 100px;color: blueviolet;border: 2px solid blueviolet;" class="uk-modal-close" type="button">Close</button>
            </div>
        </div>


        <!---section1 -->
        <section class="principal">
            <div class="printxt">
                <h1 class="printh1">Welcome to Simi's Dungeon</h1>
                <h2>The place where dreams take life</h2>
                <button  uk-toggle="target: #my-id"  >Find More</button>
            </div>
            <div class="center">
                <img class="fimg1" src="https://isometric.online/wp-content/uploads/2019/07/app_development_SVG.svg">
            </div>

        </section>

                <div style="background-color: blueviolet;" class="uk-section uk-section-secondary uk-light">
                    <div class="uk-container">
                
                        <h3>Discover</h3>
                
                        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                            <div>
                                <p>Dive down in Simi's universe and discover our stories</p>
                            </div>
                            <div>
                                <p>You can check on our chat and talk with other members</p>
                            </div>
                            <div>
                                <p>Or download our materials and have a nice time with them!</p>
                            </div>
                        </div>
                
                    </div>
                </div>


                <div style="margin-top: 35px;" class="uk-child-width-1-2@m" uk-grid>
                    <div>
                
                        <div  class="uk-inline">
                            <img  src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3000&q=60"
                                alt="">
                            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                                <p>Simi's tunnel !</p>
                            </div>
                        </div>
                
                    </div>
                    <div>
                
                        <div  class="uk-inline">
                            <img  src="https://images.unsplash.com/photo-1592191136579-27d0d2d44e86?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHB1cnBsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3000&q=60"
                                alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p>Some bs abstract art!</p>
                            </div>
                        </div>
                
                    </div>
                </div>


                


                <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                    <div>
                        <div style="background-color: blueviolet;" class="uk-card uk-card-hover uk-card-body xd">
                            <h3 style="color: white;" class="uk-card-title">Love</h3>
                            <p style="color: white;">Our platform if full of love </p>
                        </div>
                    </div>
                    <div>
                        <div style="background-color: blueviolet;" class="uk-card uk-card-default uk-card-hover uk-card-body xd">
                            <h3 style="color: white;" class="uk-card-title">Vibes</h3>
                            <p style="color: white;">Welcome to our vibe castle xd !</p>
                        </div>
                    </div>
                    <div>
                        <div style="background-color: blueviolet;" class="uk-card uk-card-primary uk-card-hover uk-card-body xd uk-light">
                            <h3 class="uk-card-title">Humor</h3>
                            <p>We are nothing else then masters in the abstract art of humor</p>
                        </div>
                    </div>
                    <div>
                        <div style="background-color: blueviolet;" class="uk-card uk-card-secondary uk-card-hover uk-card-body xd uk-light">
                            <h3 class="uk-card-title">Loyality</h3>
                            <p>We will never ever abandon our Project so be ready for a eternity!</p>
                        </div>
                    </div>
                </div>




            <div class="uk-child-width-1-1@s uk-grid-collapse uk-text-center" uk-grid>
                <div>
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-h2">Gallery</p>
                        <hr style="border: 0.1px solid blueviolet; width: 50px; position: relative; left: 50%; transform: translateX(-50%);">                    
                </div>
                </div>


            </div>

            <div style="height: 700px;" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
            
                <ul style="height: 700px;" class="uk-slideshow-items">
                    <li style="height: 700px;">
                        <img src="https://images.pexels.com/photos/3577955/pexels-photo-3577955.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500" alt="" uk-cover>
                    </li>
                    <li style="height: 700px;">
                        <img src="https://images.unsplash.com/photo-1534702752718-5eb194880631?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80" alt="" uk-cover>
                    </li>
                    <li style="height: 700px;">
                        <img src="https://images.unsplash.com/photo-1512099114133-59b4a9feb684?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80" alt="" uk-cover>
                    </li>
                </ul>
            
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            
            </div>




            <div class="uk-child-width-1-1@s uk-grid-collapse uk-text-center" uk-grid>
                <div>
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-h2">Reviews</p>
                        <hr
                            style="border: 0.1px solid blueviolet; width: 50px; position: relative; left: 50%; transform: translateX(-50%);">
                    </div>
                </div>
            </div>


            <ul class="uk-comment-list" style="padding: 45px;">
                <li>
                    <article style="border: 0.1px solid rgba(0, 0, 0, 0.199); padding: 20px; border-radius: 10px;" class="uk-comment uk-visible-toggle" tabindex="-1">
                        <header class="uk-comment-header uk-position-relative">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar" src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YW5vbnltb3VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="80" height="80" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Geralt of Budapest</a></h4>
                                    <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">33.3(5) days
                                            ago</a></p>
                                </div>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <p>In my humble and honest opinion, I do believe that this is in fact the most creative and beautiful site that has ever
                            touched the surface of this Earth. This is the best place for your fantasies, a site better than Rule 34. You can get
                            your dick virtually sucked by a succubus, bitch or nerdy girl. Simi's dungeon collects some of the most treasured
                            artefacts, some of these including ancestral poetry. I just fell in love with Simi's
                            Dungeon and its creator. Keep up the good work!</p>
                        </div>
                    </article>
                    <ul>
                        <li>
                            <article style="border: 0.1px solid rgba(0, 0, 0, 0.199); padding: 20px; border-radius: 10px;background-color: blueviolet;" class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YW5vbnltb3VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="80" height="80" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 style="color: white;" class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                    href="#">MehMeh</a></h4>
                                            <p style="color: white;" class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">69
                                                    days ago</a></p>
                                        </div>
                                    </div>
                                </header>
                                <div class="uk-comment-body">
                                    <p style="color: white;">I was soooooo pleased to read some gud stuff on here. I even decided to leave 4chan and the hub for Simi's
                                    Dungeon, here you find a way friendlier community, full of love for what's beautiful!</p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article style="border: 0.1px solid rgba(0, 0, 0, 0.199); padding: 20px; border-radius: 10px;" class="uk-comment uk-visible-toggle" tabindex="-1">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YW5vbnltb3VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="80" height="80" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                    href="#">XaSxx</a></h4>
                                            <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">49.(7)
                                                    days ago</a></p>
                                        </div>
                                    </div>
                                </header>
                                <div class="uk-comment-body">
                                    <p>THE CONTENT HERE IS SOOOOOOOOOOOOO AWSOME AND THE FACT THAT IT'S FREE, IS MINDBLOWING! Now, i gotta go back and play w my smurf! Take care1</p>
                                </div>
                            </article>
                        </li>
                    </ul>
                </li>
            </ul>





            <div class="uk-child-width-1-1@s uk-grid-collapse uk-text-center" uk-grid>
            <div>
                <div style=" margin-top: 20px;" class="uk-tile uk-tile-default">
                    <p style="color: rgb(0, 0, 0);" class="uk-h2">Contact</p>
                    <hr
                        style="border: 0.1px solid blueviolet; width: 50px; position: relative; left: 50%; transform: translateX(-50%);">
                </div>
            </div>
            </div>
            <form style="padding: 30px;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Name</label>
                        <input type="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Subject</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Your subject ....">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Say anything</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" style = "background-color: blueviolet; color: white; " class="btn">Send</button>
            </form>

            <footer style="background-color: black;" id="sticky-footer" class="py-4 text-white-50">
                <div class="container text-center">
                    <p style="color: blueviolet; text-align: center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Thank's for spending your time on our website!</p>
                </div>
            </footer>
    

</body>
</html>